[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "shell/plugins/dircolors-solarized"]
	path = shell/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "git-extras"]
	path = git-extras
	url = https://github.com/tj/git-extras.git
[submodule "shell/plugins/git-extras"]
	path = shell/plugins/git-extras
	url = https://github.com/tj/git-extras.git
[submodule "vim/pack/vendor/start/vim-sensible"]
	path = vim/pack/vendor/start/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/pack/vendor/start/vim-sleuth"]
	path = vim/pack/vendor/start/vim-sleuth
	url = git@github.com:tpope/vim-sleuth.git
[submodule "vim/pack/themes/opt/altercation-solarized"]
	path = vim/pack/themes/opt/altercation-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/pack/themes/opt/solarized8"]
	path = vim/pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "vim/pack/themes/opt/vim-selenized"]
	path = vim/pack/themes/opt/vim-selenized
	url = https://github.com/ianchanning/vim-selenized.git
